<div class="">
  <div #pieContainer class="card_container" style="height: 100%; position: relative; background: #232837be;">
    <ngx-charts-pie-chart style="fill: var(--clr-3);" [view]="view" [scheme]="colorScheme" [results]="pie"
      [gradient]="gradient" [labels]="showLabels" [doughnut]="isDoughnut"
      (window:resize)="onResizePie(pieContainer.offsetWidth)" (select)="onSelect($event)"
      (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-pie-chart>
  </div>
</div>